.App-header {
  background-color: #222;
  padding: 10px 20px;
  color: white;
  position: static;
}

.App-title {
  font-size: 1.2em;
}

.App-title-controls {
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
}

.App-edit-settings-btn {
  text-decoration: underline;
  cursor: pointer;
}

.App-edit-settings-btn:hover {
  text-decoration: none;
}

.App-no-settings {
  padding: 20px;
}
